/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* bass style */

body {
  background-image: url("icons/fond1.png");
}

/* fonts */

@font-face {
  font-family: "Roboto";
  src: url("polices/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("polices/Oswald-Regular.ttf");
}

h1,
h3 {
  font-size: 1.2em;
}

.text_integration2 {
  margin-left: 5%;
  margin-right: 5%;
}

.links{
  margin-top: 40px;
  margin-left: 10px;
  font-family: 'Oswald';
}


.title {
  width: 30%;
}



.name {
  font-family: 'Oswald';
}


.mentions:hover {
  color: #54c1f2;
  transition: 0.3s;
}


.mentions_titre {
  margin-left:30px;
  text-align: center;
}

/* Présentation membres */
.pres {
  display:flex;
  justify-content: space-around;
  margin-bottom: 10%px;
}

.membres h2 {
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.membres {
  margin-top: 80px;
}

/* Grille contenant les membres */

.grille {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grille a {
  text-align: center;
  font-family: 'Oswald';
}

.grille img {
  border-radius: 50%;
  height: 200px;
}

/* Parti évennements*/

.event1 {
  display: grid;
  grid-template-columns: 1fr;
}
.event1_detail {
  display: grid;
  grid-template-columns: 1fr;
}

.event1_detail img {
  width: 100%;
}

.nextevent {
  text-align: center;
  font-family: 'Roboto';
}

.text_event{
  text-align: center;
  font-family: 'Oswald';
}

.text_event p h3{
  text-align: center;
  font-family: 'Oswald';
}

.text_event h2{
  text-align: center;
  font-family: 'Roboto';
}

.event2 {
  display: grid;
  grid-template-columns: 1fr;
}
.event2_detail {
  display: grid;
  grid-template-columns: 1fr;
}

.event2_detail img {
  width: 100%;
}

.kart {
  border-radius: 5%;
}
.titre {
  font-size: xx-large;
  font-family: 'Roboto';
}
.ski {
  border-radius: 5%;
}

  /* Style des bouttons*/
  
.boutton_event {
  border: 1px solid #54c1f2;
  border-radius: 8px;
  box-sizing: border-box;
  color: #54c1f2;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  font-family: 'Oswald';
}

.boutton_eventc:focus-visible {
 box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
 transition: box-shadow .2s;
} 

.boutton_event:active {
 background-color: #F7F7F7;
 border-color: #000000;
 transform: scale(.96);
}

/* desktop styles */
@media screen and (min-width: 1380px) {
  body {
    font-size: 25px;
  }

  .grille {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .event1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .event1_detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .event1_detail img {
    width: 100%;
  }

  .event2_detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .event2_detail img {
    width: 100%;
  }

  .text_event{
    text-align: center;
  }
}


/* head and foot */





nav 
{
    width: 100%;
    height: 150px;
    background: #129cb4;
}

.div_logo {
  display:none;
  justify-content: end;
  margin-right: 5%;
}

nav .logo {
  margin-top: 30px;
}

/* .container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
} */

nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a 
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
}
 
nav a:hover 
{
    background: #5A5766
}

label
{
    display: none;
}
 

label, #toggle
{
    display: none;
}
 
label, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
        height: 150px;
    }
    .div_logo {
      display:flex;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background: #48435c;
        height: 220px;
    }
 
    nav .main_pages a {
        width: 50%;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-top: 45px;
        font-size: 40px;
        color: white;
        cursor: pointer;
        .div_logo {
          display: hidden;
        }
    }
 
    #toggle:checked + .main_pages {
      display: flex;
    }

}