* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-image: url(/icons/fond1.png);
}

/* Début Header */

#bande_head_mobile {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #d2f8f6;
  height: 150px;
  width: 100%;
  margin-bottom: 5%;
}

#bande_head_mobile h1 {
  margin-top: 5%;
  display: inline-block;
  justify-content: center;
}

.menu {
  display: flex;
  margin-top: 5%;
  padding: 0px;
}

.menu a {
  font-size: smaller;
  text-align: center;
  /* Centrage du texte */
  color: black;
  /* Couleur du texte */
  text-decoration: none;
  /* Suppression du soulignement */
  transition: all 0.5s;
  /* Ajout des effets de transition */
  margin-left: 20px;
}


.menu li {
  list-style-type: none;
  /* Suppression des puces */
  display: inline-block;
}

.menu li a:hover {
  color: #54c1f2;
}

#logo_mobile {
  display: inline-block;
  justify-content: right;
}

#logo_mobile_logo {
  width: 81px;
  float: right;
  margin-top: 10px;
  border-radius: 10%;
}

/* Fin header */

/* Début photos membres */


.photo_membre {
  border-radius: 50%;
}

.photo_mobile p {
  min-width: 150px;
  font-size: 10px;
}

.photo_mobile {
  margin-left: 5%;
}

.photo_mobile img {
  width: 100%;
}


#photo_texte p {
  text-align: center;
}

.col-6 {
  display: flex;
  justify-content: center;
}


.col-6 img {
  width: 100px;
  height: 100px;
}

/* Bande séparatrice */

#ligne_separation {
  height: 3px;
  min-width: max-content  ;
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: #54c1f2;
}


/* Évennement 1 */


#photo_laser_kart {
  vertical-align: middle;
  margin-right: 5%;
  border-radius: 5%;
  width: 80%;
  height: auto;
}

#contour_photo {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.texte_integration {
  text-align: center;
}

/* Fin évennement 1 */

/* Évennement 2 */



.texte_hiver {
  margin-left: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#photo_ski1 {
  margin-left: 5%;
  border-radius: 5%;
  width: 90%;
  height: auto;
}


.texte_integration2 {
  text-align: center;
}

#venez {
  text-align: center;
}


/* Fin evennement 2 */

/* Début style boutons*/

.boutton_clic {
  border: 1px solid #54c1f2;
  border-radius: 8px;
  box-sizing: border-box;
  color: #54c1f2;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.boutton_clic:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.boutton_clic:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.boutton {
  display: flex;
  justify-content: center;
}

/* Fin style boutons */

/* Début footer */

#copyright {
  text-align: center;
}

#bande_foot_mobile {
  margin-top: 5%;
  background-color: #d2f8f6;
  text-align: center;

}


.alignement {
  min-width: max-content;
}


.alignement a {
  display: inline-block;
  /* Transformation en block */
  text-align: center;
  /* Centrage du texte */
  color: black;
  /* Couleur du texte */
  text-decoration: none;
  /* Suppression du soulignement */
  transition: all 0.5s;
  /* Ajout des effets de transition */
  margin-top: 20px;
  margin-left: 50px;
}

.alignement a:hover {
  color: #54c1f2;
}

  /* Fin footer */