* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  body {
    background-image: url(icons/fond1.png);
  }

  #bande_head_mobile {
    visibility: hidden;
    display: none;
  }

  .photo_mobile {
    visibility: hidden;
    display: none;
  }

  .img {
    display: flex;
    justify-content: right;
  }

  #bande_head_pc {
    visibility: visible;
    display: inline-block;
    background-color: #D2F8F6;
    height: 150px;
    width: 100%;
  }

  #bande_head_pc h1 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }

  .menu {
    display: flex;
    /* Transformation en flexbox */
    padding: 0;
    /* Suppression des marges internes */
  }

  .menu a {
    display: block;
    /* Transformation en block */
    min-width: 120px;
    /* Largeur minimale des liens */
    text-align: center;
    /* Centrage du texte */
    color: black;
    /* Couleur du texte */
    text-decoration: none;
    /* Suppression du soulignement */
    transition: all 0.5s;
    /* Ajout des effets de transition */
    margin-top: 25px;
    font-size: large;
  }

  .menu li {
    list-style-type: none;
    /* Suppression des puces */
  }

  .menu li a:hover {
    color: #54c1f2;
  }


  .photo_pc {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15%;
    text-align: center;
  }

  .event1 {
    margin-top: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .event2
  {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .event1 p
  {
    font-size: smaller;
  }

  .event2 p
  {
    font-size: smaller;
  }

  .event1 h1
  {
  font-size: large;
  }

  .event2 h1
  {
  font-size: large;
  }

  #photo_ski1 {
    margin-left: 5%;
    border-radius: 5%;
  }


  #contour_laser
  {
    display: flex;
    justify-content: center;
  }

  #contour_photo
  {
    display: flex;
    justify-content: right;
    max-width: 600px;
    height: auto;
  }

  #photo_laser_kart {
    margin-right: 5%;
    border-radius: 5%;
    width: 100%;
    height: auto;
  }

  #ligne_separation
  {
    background-color: black;
    min-width: 500px;
    height: 3px;
  }

  .row
  {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
  }

  .texte_integration
  {
    margin-left: 5%;
  }


  .boutton_clic {
    border: 1px solid #54c1f2;
    border-radius: 8px;
    box-sizing: border-box;
    color: #54c1f2;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }

  .boutton_clic:focus-visible {
   box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
   transition: box-shadow .2s;
  } 

  .boutton_clic:active {
   background-color: #F7F7F7;
   border-color: #000000;
   transform: scale(.96);
  } 


  .mid1 {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .photo_text {
    font-size: large;
  }

  .photo_membre {
    border-radius: 50%;
    width: 200px;
    height: auto;
  }


  #photo_ski1 {
    margin-left: 5%;
    border-radius: 5%;
    width: 100%;
    height: auto;
  }

  #contour_ski1
  {
    display: flex;
    justify-content: left;
  }

  .texte_integration2
  {
    margin-left: 5%;
  }

  #bande_foot_pc
  {
    margin-top: 5%;
    background-color: #D2F8F6;
  }