.titre
{
    display: flex;
    justify-content: center;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image {
    max-width: 33%;
    height: auto;
}

/* .col-2
{
    display:flex;
    justify-content: right;
}
.col-8
{
    display:flex;
    justify-content: right;
}
.col-14
{
    display:flex;
    justify-content: right;
} */