/* Variables */

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: url(../icons/fond1.png);
}

li {
  list-style-type: none;
}

/* bass style */

/* fonts */
@font-face {
  font-family: "Roboto";
  src: url("../Polices/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("../Polices/Oswald-Regular.ttf");
}

h1,
h3 {
  font-size: 1.2em;
}

.titre{
  text-align: center;
}

.tableaux {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.event1 img {
  width: 100%;
  border-radius: 25px;
}

.event2 img {
  width: 100%;
  border-radius: 25px;
}

.event3 img {
  width: 100%;
  border-radius: 25px;
}

.event1 {
  background-color: #a5f2ee;
  border-radius: 25px;
  margin: 5%;
  font-family: 'Oswald';
}

.event2 {
  background-color: #a5f2ee;
  border-radius: 25px;
  margin: 5%;
}

.event3 {
  background-color: #a5f2ee;
  border-radius: 25px;
  margin: 5%;
}

.nom_event{
  font-family: 'Roboto';
}

.texte_event{
  font-family: 'Oswald';
}

/* desktop styles */
@media screen and (min-width: 1380px) {
  body {
    font-size: 25px;
  }

  .grille {
    grid-template-columns: 1fr 1fr 1fr;
  }
 
  .tableaux {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  .fleches {
    width: 100%;
    background-color: #54c1f2;
    border-radius: 40%;
  }

  .image_fleche{
    display: grid;
    align-items: center;
  }
}

/* head and foot */

.links{
  margin-top: 40px;
  margin-left: 10px;
  font-family: 'Oswald';
}

.titrea {
  font-size: xx-large;
  font-family: 'Roboto';
  margin-top: 40px;
}

.mentions:hover {
  color: #54c1f2;
  transition: 0.3s;
}

.name {
  font-family: 'Oswald';
}

.div {
  margin-left:30px;
  text-align: center;
}


.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #D2F8F6;
  min-height: 150px;
}

.footera {
  margin-top: 2%;
}

.navigation a {
  text-align: center;
  padding: 0.5rem;
  color: black;
  font-family: 'Oswald';
  text-decoration: none;
}

.navigation h1 {
  text-align: center;
  color: black;
  font-family: 'Oswald';
}

.navigation p {
  text-align: left;
}


.navigation li :hover{
  color: #54c1f2;
  transition: 0.3s;
}

.grille {
  grid-template-columns: 1fr 1fr 1fr;
}
.navigation a {
  font-size:x-large;
}

.navigation li {
  display: inline-block;
}