.titre
{
    display: flex;
    justify-content: center;
}

.card {
    background-color: #D2F8F6;
    width: 30%;
    border-radius: 5%;
    margin-right: 10%; 
    margin-left: 10%;
    margin-top: 3%;
}
