.pres_gauche {
    background-color: blue;
    height: 250px;
    width: 100%;
    border-radius: 10% 0 0 10%;
}

.pres_droit {
    background-color: red;
    height: 250px;
    width: 100%;
    border-radius: 0 10% 10% 0;
}

.image_gauche{
  width : 200px; height : 200px;
  border: none;
  -moz-border-radius : 100%;
  -webkit-border-radius : 100%;
  border-radius : 100%;
  margin-left: 15%;
  margin-top: 1.1%;

}

.text {
  text-align: center;
  display:flex;
  justify-content: center;
}

.img_gauche {
  width: 20%;
}

img_droite {
  width: 20%;
}

.image_droit{
  width : 200px; height : 200px;
  border: none;
  -moz-border-radius : 100%;
  -webkit-border-radius : 100%;
  border-radius : 100%;
  margin-right: 15%;
  margin-top: 1.1%;
}