/* Variables */
:root
{
    --fond_nav: #54C1F2;
}

/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* bass style */
body{
    background-image: url('images/fond1.png');
    font-family: 'Roboto';
}

/* fonts */
@font-face{
    font-family: 'Roboto';
    src: url('Polices/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Oswald';
    src: url('Polices/Oswald-Regular.ttf');
}

h1,h3{
    font-size: 1.2em;
}

.leading{
    font-size: 1.1em;
}

/* mobile style */

/* small tablet style */
@media screen and (min-width: 620px) {  
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {  
    body{
        font-size: 18px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px) {  
   body{
    font-size: 20px;
   }
}