.row
  {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
  }

  
/* head */

#bande_head_pc {
  visibility: visible;
  display: inline-block;
  background-color: #D2F8F6;
  height: 150px;
  width: 100%;
}

#bande_head_pc h1 {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  /* Transformation en flexbox */
  padding: 0;
  /* Suppression des marges internes */
}

.menu a {
  display: block;
  /* Transformation en block */
  min-width: 120px;
  /* Largeur minimale des liens */
  text-align: center;
  /* Centrage du texte */
  color: black;
  /* Couleur du texte */
  text-decoration: none;
  /* Suppression du soulignement */
  transition: all 0.5s;
  /* Ajout des effets de transition */
  margin-top: 25px;
  font-size: large;
}

.menu li {
  list-style-type: none;
  /* Suppression des puces */
}

.menu li a:hover {
  color: #54c1f2;
}

/* body */

body {
  background-image: url(../icons/fond1.png);
}

.pres-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:50px;
  margin-top: 50px;
}

.pres-right {
  background-color: #A5F2EE70;
  border-radius: 999em 40px 40px 999em;
  border-style:solid;
  border-color: #54C1F2;
  border-right: 0px;
  border-width: 1px;
  box-shadow: 0px 5px 5px 1px #b7bac5;


}

.pres-left {
  background-color: #A5F2EE70;
  flex-direction: row-reverse;
  border-radius: 40px 999em 999em 40px;
  border-style:solid;
  border-color: #54C1F2;
  border-left: 0px;
  border-width: 1px;
  box-shadow: 0px 5px 5px 1px #b7bac5;
}

.pres {
  height: 250px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pres-right-container {
  display:flex;
  justify-content: flex-end;
}

.pres-img{
  width : 200px; height : 200px;
  border: none;
  -moz-border-radius : 100%;
  -webkit-border-radius : 100%;
  border-radius : 100%;
  margin-right:2%;
  margin-left:1.5%;
}

.pres-name {
  text-align: center;
  width: 20%;
}

.pres-name {
  text-align: center;
  width: 21%;
}

.pres-content {
  width: 60%;
  text-align: center;
}

.pres-container-contact {
  width: 12%;
  display: flex;
  flex-direction: column;
  gap:50px;
}

.pres-contact {
  text-align: center;
  width: 25%;
  justify-content: top;
}

.img-reseaux {
  width: 75px;
  height: auto;
}


/* footer */

#bande_foot_pc
{
  margin-top: 10%;
}